<% content_for :title, "Welcome" %>

<div class="row">
  <div class="welcome-choice col-sm-6">
    <h2>Report an issue</h2>
    <%= link_to image_tag("panda-cry.png", width: '400', alt: ""), report_issue_choose_room_path %>
  </div>
  <div class="welcome-choice col-sm-6">
    <h2>How to use</h2>
    <%= link_to image_tag("panda-doc.png", width: '300', alt: ""), report_issue_how_to_path %>
  </div>
</div>
